@use '../base/settings' as *;

.category-box {
  margin: 10px 0 20px;
}

.category-box__title {
  font-family: $font-Raleway;
  font-size: 20px;
  padding: 13px 2px 4px 0;
  color: $light-red;
  border-bottom: solid 1px $light-red;
  display: inline-block;
  margin-bottom: 10px;
}

.space-h {
  height: 20px;
}

