$white: #fff;
$black: #000;
$color-border: #423725;
$light-red: #ffcd66;
$color-link-footer-hover: $light-red;
$color-border-menu: $light-red;
$color-mobile-menu: $light-red;
$color-text: #ddd4c5;
$color-bg: #2d261a;
$color-bg-header: #444044;

$color-menu: #ffcd66;
$color-menu-active: $white;

$color-link: $color-text;
$color-link-footer: $color-text;

$font-Raleway: 'Raleway', sans-serif;
$font-Heebo: 'Heebo', sans-serif;
$font-OpenSans: 'Open Sans', sans-serif;
$font-Cinzel: 'Cinzel Decorative', cursive;
$font-title: $font-Cinzel;

$base-font: $font-OpenSans;
$menu-font: $font-Heebo;

$break-small: 768px;
$break-large: 1024px;
